<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


    <ion-list>

        <ion-item>
          <ion-label fixed>Username</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <button ion-button block color="primary" (click)="signin()">LOGIN</button>

      </ion-list>


</ion-content>
