<ion-header>
  <ion-navbar>
   <img src="https://insomniacs.in/images/owl-logo.gif" alt="" class="homeimgicon"> <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Insomniacs Projects !!!!</h2>

  <button ion-button  color="primary" (click)="logout()">Log Out</button>

</ion-content>
