page-welcome {


  #welcome{
    background: color($colors, energy);
  }

  h1{
    font-size: 40px;
    margin-top: 50px;
  }
  .signupcls{
    margin-top: 150PX;
  }

  .Welcomeimgicon{
    height: 150px;
    width: 200px;
    position: relative;
    left: 135px;
  }

  .scroll-content {
  overflow-x: hidden;
  overflow-y: hidden;
  }
}
