<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->




<ion-header>

  <ion-navbar>
      <img src="https://insomniacs.in/images/owl-logo.gif" alt="insomniacs" class="Welcomeimgicon">
  </ion-navbar>

</ion-header>



<ion-content padding id="welcome">

<h1>Welcome to Insomniacs</h1>
<div>Discover some new generation things that makes you perfect!!!!</div>

<button ion-button block class="signupcls" (click)="signup()">SIGNUP</button>
<button ion-button block color="lightprimary" (click)="login()">LOGIN</button>

</ion-content>
