<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


    <ion-list>

        <ion-item>
            <ion-label fixed>Name</ion-label>
            <ion-input type="text" value=""></ion-input>
          </ion-item>

        <ion-item>
              <ion-label fixed>E-mail</ion-label>
              <ion-input type="text" value=""></ion-input>
            </ion-item>

         <ion-item>
              <ion-label fixed>Phone</ion-label>
              <ion-input type="text" value=""></ion-input>
          </ion-item>


        <ion-item>
                <ion-label fixed>Address</ion-label>
                <ion-input type="text" value=""></ion-input>
              </ion-item>


        <ion-item>
          <ion-label fixed>Username</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <button ion-button block color="primary" (click)="signup()" class="signupbtn" >Signup</button>

      </ion-list>


</ion-content>
